@font-face {
	font-family: nba;
	src: url(../files/nba.ttf);
}

body {
	font-family:Tahoma, Geneva, sans-serif !important;
	background-color: #0f5f2c;
	width: 800px;
	
	position: relative;
	margin: auto;
		
	
}
#sedzia{
	margin-left: 60px;
}
.logo{
	margin-left: 165px;
}
.form{

	margin-left: 140px;
}
.zawodnik{

	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	color: #FFF;
}
.pilka{

	margin-top: 10px;
}
.link{

	line-height: 120px;
	text-decoration: none;
	color: #FFF;
	font-size: 40px;
	margin-left: 140px;
}

.pila {
	background: url(../images/pilka.png) no-repeat;
	margin-left: 150px;
}

.nazwa {

	text-decoration: none;
	color: #FFF;
	font-size: 50px;
	text-align: center;
	font-family: nba;
}
.sedziaOpt{
	
	text-align: center;
}
.sedziaLog{
	
	margin-left: 43%;
}
.ocenyZatw{
	margin-left: 43%;
}
.myButton{

	display: none;
}

.myButton2{

	display: none;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#999;
	margin-left: 90px;
	margin-top: 30px;
}

.tg td{
	font-family:Arial, sans-serif;font-size:14px;
	padding:10px 8px;
	border-style:solid;
	border-width:1px;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#999;
	color:#fff;
	background-color:#26ADE4;
}
.tg .tg-u8t5{
	font-family:Tahoma, Geneva, sans-serif !important;
	;text-align:center
}




button, input[type="button"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:94px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
button:active, input[type="button"]:active{
	position:relative;
	top:1px;
}
button:hover, input[type="button"]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}

#gradePanel {
	width: 400px;
	float: left;
	border-right: 1px solid;
	

	
}
.ocenyZatw{
	margin-left: 30%;
}
#editPanel{
	float: left;
}

#editForm{
	display: none;
	background: #ccc;
	float: right;
	z-index: 9999;
	top: 25%;
	left: 25%;
}
#scoresTable {
	margin-left: 250px;
}

